HEDERA_RPC_URL=https://localhost:7546  # For Localnet, or https://testnet.hashio.io/api for Testnet
HEDERA_PRIVATE_KEY=0x<hedera_private_key>
AGENT_PRIVATE_KEY=0x<agent_private_key>
PAUSER_PRIVATE_KEY=0x<pauser_private_key>
AUDITOR_PRIVATE_KEY=0x<auditor_private_key>
TRUSTED_ISSUER_PRIVATE_KEY=0x<trusted_issuer_private_key>
USER_PRIVATE_KEY=0x<user_private_key>
IDENTITY_CONTRACT_PRIVATE_KEY=0x<identity_contract_private_key>
INITIAL_RESERVE_PROOF=1000000